:root {
    --primary: #FEFEFE;
    --secondary: #F1F5F8;
    --darken: #7F858D;
    --accent: #4690E2;
    --primary-text: #343434;
    --secondary-text: #7F858D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100vh;
    width: 100%;
}
